body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #e1c2f9;
    padding: 10px;
    text-align: center;
}

header {
    background-color: #e1c2f9;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 50px; /* Adjust this value as needed */
}

header nav {
    display: flex;
    gap: 20px; /* This creates space between the nav items */
}

header a {
    color: #007bff;
    text-decoration: none;
    padding: 10px;
}

header a:hover {
    text-decoration: underline;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

main {
    padding: 20px;
}

#places-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.place-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.place-image-container {
    width: 100%;
    height: 200px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.place-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.detail-button, .add-review button {
    display: block;
    margin: 10px 0;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.detail-button:hover, .add-review button:hover {
    background-color: #0056b3;
}

.error-message {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 15px;
    border-radius: 5px;
    z-index: 1000;
}

#login-link {
    display: inline-block;
}
